# Sub-task 2

Enrich the cleaned input with external data from the providers available on the platform.

In [1]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import difflib as dfl
import os.path

from demyst.analytics import Analytics

In [2]:
analytics = Analytics(key="60e03a469bf063e85611da9626fbdb7a")

In [3]:
# Load the cleaned data
df_cleaned = pd.read_csv("../data/cleaned_data.csv")

In [4]:
# Take a look at our results
df_cleaned.sample()

                street state  city post_code  safety_flag country
5122  575 salco road w    AL  Axis     36505        False      US

In [5]:
def enrich_and_cache(encriched_path, data_sources, inputs):
    # Cache the files for the first run
    if os.path.isfile(encriched_path):
        encriched = pd.read_csv(encriched_path, low_memory=False)
    else:
        job_id = analytics.enrich(data_sources, inputs, validate=False)
        encriched = analytics.enrich_download(job_id)
        encriched.to_csv(encriched_path, index=False)
    return encriched

## 1. First enrichment
### 1.1 Looks for providers that are able to return data for the provided inputs.

In [6]:
analytics.search(df_cleaned)

In [7]:
inputs = df_cleaned.copy()
inputs = inputs[["street","state","city","post_code","country"]]

# Take a look at our results
inputs.head()

                       street state            city   post_code country
0                3160 Otto Dr    FL        Lakeland  33812-5237      US
1                940 Tulip Dr    IN    Indianapolis       46227      US
2             68 Rocky Top Rd    VA      Troutville  24175-6054      US
3        3330 Taylor Blair Rd    OH  West Jefferson       43162      US
4  4254 Eagle Landing Parkway    FL     Orange Park       32065      US

### 1.2 Process the enrichment

In [8]:
encriched_path_1 = '../data/encriched_result_1.csv'
encriched_1 = enrich_and_cache(encriched_path_1, ['attom_expanded_profile_report'], inputs)

In [9]:
encriched_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11201 entries, 0 to 11200
Data columns (total 9 columns):
inputs.street                              11201 non-null object
inputs.state                               11201 non-null object
inputs.city                                11201 non-null object
inputs.post_code                           11201 non-null int64
inputs.country                             11201 non-null object
attom_expanded_profile_report.row_id       11201 non-null int64
attom_expanded_profile_report.client_id    0 non-null float64
attom_expanded_profile_report.attom_id     8960 non-null float64
attom_expanded_profile_report.error        0 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 787.7+ KB

In [10]:
# Take a look at our results
encriched_1.head()

,inputs.street,inputs.state,inputs.city,inputs.post_code,inputs.country,attom_expanded_profile_report.row_id,attom_expanded_profile_report.client_id,attom_expanded_profile_report.attom_id,attom_expanded_profile_report.error
0,3160 Otto Dr,FL,Lakeland,33812,US,0,NaN,162278089.0,NaN
1,940 Tulip Dr,IN,Indianapolis,46227,US,1,NaN,28461481.0,NaN
2,68 Rocky Top Rd,VA,Troutville,24175,US,2,NaN,214628965.0,NaN
3,3330 Taylor Blair Rd,OH,West Jefferson,43162,US,3,NaN,246515148.0,NaN
4,4254 Eagle Landing Parkway,FL,Orange Park,32065,US,4,NaN,164680663.0,NaN

### 1.3 Clean the enriched dataframe

In [11]:
df_drop_na = encriched_1.copy()
df_drop_na = df_drop_na.drop(columns=["attom_expanded_profile_report.client_id","attom_expanded_profile_report.error"])

In [12]:
df_drop_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11201 entries, 0 to 11200
Data columns (total 7 columns):
inputs.street                             11201 non-null object
inputs.state                              11201 non-null object
inputs.city                               11201 non-null object
inputs.post_code                          11201 non-null int64
inputs.country                            11201 non-null object
attom_expanded_profile_report.row_id      11201 non-null int64
attom_expanded_profile_report.attom_id    8960 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 612.7+ KB

In [13]:
df_drop_na = df_drop_na.dropna()

In [14]:
df_drop_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8960 entries, 0 to 11200
Data columns (total 7 columns):
inputs.street                             8960 non-null object
inputs.state                              8960 non-null object
inputs.city                               8960 non-null object
inputs.post_code                          8960 non-null int64
inputs.country                            8960 non-null object
attom_expanded_profile_report.row_id      8960 non-null int64
attom_expanded_profile_report.attom_id    8960 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 560.0+ KB

In [15]:
df_rename = df_drop_na.rename(columns = {"inputs.street":"street", 
                             "inputs.state": "state",
                             "inputs.city": "city",
                             "inputs.post_code": "post_code",
                             "inputs.country": "country",
                             "attom_expanded_profile_report.row_id": "row_id",
                             "attom_expanded_profile_report.attom_id": "attom_id"})

In [16]:
# Take a look at our results
df_rename.head()

,street,state,city,post_code,country,row_id,attom_id
0,3160 Otto Dr,FL,Lakeland,33812,US,0,162278089.0
1,940 Tulip Dr,IN,Indianapolis,46227,US,1,28461481.0
2,68 Rocky Top Rd,VA,Troutville,24175,US,2,214628965.0
3,3330 Taylor Blair Rd,OH,West Jefferson,43162,US,3,246515148.0
4,4254 Eagle Landing Parkway,FL,Orange Park,32065,US,4,164680663.0

## 2. Second enrichment
> Append latitude and longitude to our inputs

### 2.1 Prepare for the input of the ennrichment

In [17]:
df_google_latlon = df_rename.copy()
google_input = pd.DataFrame(columns=['street', 'country'])

google_input['street'] = df_google_latlon["street"] + " " + df_google_latlon["city"] + ", " + df_google_latlon["state"] + " " + df_google_latlon["post_code"].map(str)

google_input['country'] = df_google_latlon["country"]

# Take a look at our results
google_input.head()

                                             street country
0                   3160 Otto Dr Lakeland, FL 33812      US
1               940 Tulip Dr Indianapolis, IN 46227      US
2              68 Rocky Top Rd Troutville, VA 24175      US
3     3330 Taylor Blair Rd West Jefferson, OH 43162      US
4  4254 Eagle Landing Parkway Orange Park, FL 32065      US

### 2.2 Process the enrichment

In [18]:
encriched_path_2 = '../data/encriched_result_2.csv'
encriched_2 = enrich_and_cache(encriched_path_2, ['google_latlon'], google_input)

Verifying providers...

Sorry, either you mistyped the product name google_latlon or your organization doesn't have access to that product.

In [19]:
# Use the google API - Geocoding
import requests
import time
def get_lat_lon(address):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    API_KEY = "AIzaSyCTj6juvwps-OHso9eDJ2CkeKnEO3Y6kQg"
    params = {"address":address, "key":API_KEY}
    result = requests.get(base_url, params)
    if result.status_code == 200 and result.json()["status"] == "OK":
        data = result.json()['results'][0]
        location = data['geometry']['location']
        lat = location['lat']
        lng = location['lng']  
    else:
        print(result.json())
        lat = 'Error'
        lng = 'Error'
    return lat, lng

In [20]:
google_input.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8960 entries, 0 to 11200
Data columns (total 2 columns):
street     8960 non-null object
country    8960 non-null object
dtypes: object(2)
memory usage: 210.0+ KB

In [21]:
# Cache the files for the first run
location_path = "../data/locations.csv"
if os.path.isfile(location_path):
    encriched_loc = pd.read_csv(location_path)
else:
    street = google_input['street']
    splits = np.array_split(street, 200)
    locations = []
    count = 0
    for split in splits:
        if split.empty != True:
            count += 1
            
            location = split.apply(get_lat_lon)
            
            data_sub = {'location':location}  
            encriched_sub = pd.DataFrame(data_sub) 
            sub_path = "../data/location/" + str(count) + "_location.csv"
            encriched_sub.to_csv(sub_path, index=False)
            
            locations.extend(location)
            
    # intialise data of lists
    data = {'street':street, 'location':locations}  
    # Create DataFrame 
    encriched_loc = pd.DataFrame(data) 
    encriched_loc.to_csv(location_path, index=False)

In [22]:
encriched_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8960 entries, 0 to 8959
Data columns (total 2 columns):
street      8960 non-null object
location    8960 non-null object
dtypes: object(2)
memory usage: 140.1+ KB

In [23]:
encriched_loc.head()

,street,location
0,"3160 Otto Dr Lakeland, FL 33812","(27.9618047, -81.9041326)"
1,"940 Tulip Dr Indianapolis, IN 46227","(39.6675462, -86.1424699)"
2,"68 Rocky Top Rd Troutville, VA 24175","(37.4392236, -79.9567679)"
3,"3330 Taylor Blair Rd West Jefferson, OH 43162","(39.9874996, -83.33642189999999)"
4,"4254 Eagle Landing Parkway Orange Park, FL 32065","(30.155867, -81.86505609999999)"

In [24]:
assert encriched_loc.shape[0] == google_input.shape[0]
assert encriched_loc.shape[1] == google_input.shape[1]

### 2.3 Clean and combine the results

In [25]:
# combine encriched_loc with df_rename
df_combined = df_rename.copy()
df_combined['latitude'] = encriched_loc['location'].str.split(",").str.get(0).str[1:]
df_combined['longitude'] = encriched_loc['location'].str.split(",").str.get(1).str[:-1]

In [26]:
df_combined.head()

,street,state,city,post_code,country,row_id,attom_id,latitude,longitude
0,3160 Otto Dr,FL,Lakeland,33812,US,0,162278089.0,27.9618047,-81.9041326
1,940 Tulip Dr,IN,Indianapolis,46227,US,1,28461481.0,39.6675462,-86.1424699
2,68 Rocky Top Rd,VA,Troutville,24175,US,2,214628965.0,37.4392236,-79.9567679
3,3330 Taylor Blair Rd,OH,West Jefferson,43162,US,3,246515148.0,39.9874996,-83.33642189999999
4,4254 Eagle Landing Parkway,FL,Orange Park,32065,US,4,164680663.0,30.155867,-81.86505609999999

In [27]:
# check nan vaules
df_combined.isnull().sum()

street          0
state           0
city            0
post_code       0
country         0
row_id          0
attom_id        0
latitude     1598
longitude    1598
dtype: int64

In [28]:
# Drop nan values
df_dropna = df_combined.dropna()

In [29]:
assert df_dropna.isnull().sum().all() == 0

## 3. Final enrichment
### 3.1 Looks for providers that are able to return data for the provided inputs.

In [30]:
analytics.search(df_dropna)

### 3.2 Process the enrichment

In [31]:
data_sources = [
    'attom_tax_assessor', 'attom_recorder', 'attom_pre_foreclosure', 'attom_avm', 
    'attom_commercial_tax_assessor', 'attom_commercial_pre_foreclosure', 'attom_commercial_avm', 
    'attom_commercial_recorder']

inputs_3 = df_dropna.copy()

In [33]:
encriched_path_3 = '../data/encriched_result_3.csv'
# analytics.enrich_credits(data_sources, inputs_3)
encriched_3 = enrich_and_cache(encriched_path_3, data_sources, inputs_3)

In [34]:
encriched_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7362 entries, 0 to 7361
Columns: 1370 entries, inputs.attom_id to attom_commercial_recorder.error
dtypes: float64(604), int64(9), object(757)
memory usage: 76.9+ MB

In [35]:
encriched_3.head().T

,0,1,2,3,4
inputs.attom_id,1.62278e+08,2.84615e+07,2.14629e+08,2.46515e+08,1.64681e+08
inputs.city,Lakeland,Indianapolis,Troutville,West Jefferson,Orange Park
inputs.country,US,US,US,US,US
inputs.latitude,27.9618047,39.6675462,37.43922360000001,39.98749960000001,30.155867
inputs.longitude,-81.90413259999998,-86.14246990000002,-79.9567679,-83.33642189999998,-81.86505609999998
...,...,...,...,...,...
attom_commercial_recorder.transferinfopurchasetypecode,NaN,NaN,NaN,NaN,NaN
attom_commercial_recorder.transfertaxcity,NaN,NaN,NaN,NaN,NaN
attom_commercial_recorder.transfertaxcounty,NaN,NaN,NaN,NaN,NaN
attom_commercial_recorder.transfertaxtotal,NaN,NaN,NaN,NaN,NaN
attom_commercial_recorder.error,NaN,NaN,NaN,NaN,NaN

### 3.3 Clean and combine the enriched dataframe

In [36]:
# Add labels for features
df_left = df_cleaned.copy()
df_right = encriched_3.copy()
df_left['street'] = df_left['street'].str.strip().str.lower()
df_right['inputs.street'] = df_right['inputs.street'].str.strip().str.lower()

df_w_labels = pd.merge(left=df_left,right=df_right,
                      left_on="street",right_on="inputs.street")
df_clean_1 = df_w_labels.copy()

In [37]:
# Remove unmeaningful columns
df_clean_1 = df_clean_1.drop(columns=df_clean_1.filter(like='.row_id',axis=1).columns) 
df_clean_1 = df_clean_1.drop(columns=df_clean_1.filter(like='.attom_id',axis=1).columns)

In [38]:
assert df_clean_1.filter(like='.row_id',axis=1).columns.empty == True
assert df_clean_1.filter(like='.attom_id',axis=1).columns.empty == True

In [39]:
df_clean_2 = df_clean_1.copy()

# Drop error values
df_clean_2 = df_clean_2[df_clean_2['inputs.latitude'].str.contains("Error") == False]
df_clean_2 = df_clean_2[df_clean_2['inputs.longitude'].str.contains("Error") == False]

In [40]:
assert df_clean_2['inputs.latitude'].str.contains("Error").any() == False
assert df_clean_2['inputs.longitude'].str.contains("Error").any() == False

In [41]:
# Remove the duplicate columns
df_clean_2['latitude'] = df_clean_2['inputs.latitude']
df_clean_2['longitude'] = df_clean_2['inputs.longitude']
df_clean_2 = df_clean_2.drop(columns=df_clean_2.filter(like='inputs.',axis=1).columns)

In [42]:
assert df_clean_2.filter(like='inputs.',axis=1).columns.empty == True

In [43]:
df_clean_3 = df_clean_2.copy()

# Remove useless columns
df_clean_3 = df_clean_3.drop(columns=df_clean_3.filter(like='.error',axis=1).columns) 
df_clean_3 = df_clean_3.drop(columns=df_clean_3.filter(like='.client_id',axis=1).columns) 

# Dropping column with more than 10% null values 
df_clean_3.dropna(thresh=0.9*len(df_clean_3), axis=1, inplace = True)
# Dropping column with constant values
df_clean_3 = df_clean_3.loc[:,df_clean_3.nunique() != 1]
# Dropping column with more than 20% zeros
df_flag = df_clean_3.filter(like='flag',axis=1)
df_clean_3 = df_clean_3.loc[:, (df_clean_3==0).mean() <= .2]
# Ignore flag columns when dropping zeros
df_clean_3 = pd.concat([df_clean_3, df_flag],axis=1)

In [45]:
df_clean_4 = df_clean_3.copy()

# Create correlation matrix
corr_matrix = df_clean_4.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

# Drop columns with correlation greater than 0.95
df_clean_4 = df_clean_4.drop(columns = to_drop)

In [46]:
df_wo_date = df_clean_4.copy()
# remove date features 
df_date_1 = df_wo_date.filter(like='date',axis=1).columns
df_wo_date = df_wo_date.drop(columns = df_date_1)

In [48]:
df_wo_date.profile_report()

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

### 3.4 Save the cleaned result

In [49]:
encriched_path_final = '../data/encriched_result_final.csv'
encriched_path_final_wd = '../data/encriched_result_final_withdate.csv'

df_cleaned_final = df_wo_date.copy()
df_cleaned_final_wd = df_clean_4.copy()

df_cleaned_final.to_csv(encriched_path_final,index=False)
df_cleaned_final_wd.to_csv(encriched_path_final_wd,index=False)

df_saved = pd.read_csv(encriched_path_final)
df_saved_wd = pd.read_csv(encriched_path_final_wd)

In [50]:
assert df_cleaned_final.shape[0] == df_saved.shape[0]
assert df_cleaned_final_wd.shape[0] == df_saved_wd.shape[0]

In [51]:
assert df_cleaned_final.shape[1] == df_saved.shape[1]
assert df_cleaned_final_wd.shape[1] == df_saved_wd.shape[1]